# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual envs
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data and models (do not commit Kaggle data)
data/
C:/Users/priyam/Downloads/
*.pth

# VSCode / IDE
.vscode/
.idea/
